* {
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 6rem;
  background-color: wheat;
}

#projects {
  background-color: wheat;
}

.gallery-img {
  width: 100%;
}

.navbar {
  display: flex;
  background-color: rgb(218, 172, 103);
  justify-content: space-around;
  padding: 20px 0;
  color: wheat;
  height: 50px;
  align-items: center;
}

section {
  padding-top: 5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* navbar */
nav {
  display: flex;
  background-color: rgb(218, 172, 103);
  justify-content: space-around;
  padding: 20px 0;
  color: wheat;
  height: 50px;
  align-items: center;
}

nav .logo {
  font-family: 'Passions Conflict', cursive;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: wheat;
  text-decoration: none;
  font-size: 0.8em;
  align-items: center;
}

nav ul li a {
  color: wheat;
}

/* Menu hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  background-color: rgb(236, 141, 103);
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 20px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: wheat;
  border-radius: 3px;
  transition: all 0.7s;
}

/* Harmburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: white;
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: white;
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* Responsive Breakpoint */

/* ukuran tablet */

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 141, 103);
    z-index: 1;
    transform: translateX(100%);
    transition: all 2s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
