@media screen and (max-width: 1200px) {
  #hero p {
    font-size: 0.9rem;
  }
  #hero h1 {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 768px) {
  #hero img {
    width: 50%;
  }
  .social-icon {
    left: 50%;
    transform: translate(-50%);
  }
  #hero .row {
    padding-bottom: 75px;
  }
  #about p {
    text-align: justify !important;
  }
  #skill .card h3 {
    font-size: 1.3rem;
  }
  #skill .card {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  hr {
    width: 75%;
  }

  footer img {
    width: 30px;
  }
  footer p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 350px) {
  #portofolio .col-md-12 {
    flex-direction: column;
  }
}
